<!-- Navigation -->
<nav class="glass-dark fixed w-full z-50 px-6 py-4">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <div class="text-2xl font-bold tracking-tighter">
      <span class="text-cyan-400">&lt;</span>
      SchoolProjects
      <span class="text-cyan-400">/&gt;</span>
    </div>
    <div class="hidden md:flex space-x-6 text-sm">
      <a
        routerLink="/"
        routerLinkActive="text-cyan-400"
        class="hover:text-cyan-400 transition-colors"
        >Home</a
      >
      <a routerLink="dashboard" class="hover:text-cyan-400 transition-colors"
        >Dashboard</a
      >
      <a routerLink="/projects" class="hover:text-cyan-400 transition-colors"
        >Projects</a
      >
      <a routerLink="/students" class="hover:text-cyan-400 transition-colors"
        >Students</a
      >
      <a routerLink="/competition" class="hover:text-cyan-400 transition-colors"
        >Competition</a
      >
      <a routerLink="login" class="hover:text-cyan-400 transition-colors"
        >Login</a
      >
      <a routerlink="/register" class="hover:text-cyan-400 transition-colors"
        >Register</a
      >
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
